/*-- scss:defaults --*/
// importing fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lato&family=Arvo&display=swap');


// fonts
$font-family-sans-serif: 'Montserrat', Tahoma, sans-serif !default;

// headings
$presentation-heading-font: 'Arvo',  Tahoma, sans-serif  !default;
$presentation-heading-color: #022038 !default;
$h1-font-size: 1.3em !default;
$h2-font-size: 1.1em !default;
$h3-font-size: 1.05em !default;

//code
$code-color: #88398A !default;
$font-family-monospace: 'Inconsolata', monospace  !default;

// general
$body-bg: #fff;
$link-color: #513c6e;
$presentation-font-size-root: 30pt;
$body-color: #011627;

/*-- scss:rules --*/
.reveal pre code {
  background-color: #f8f8f8;
  font-size: 1.5em;
  padding: 0.5em;
  line-height: 2em;
}


.subtitle {
  color: $presentation-heading-color;
  font-size: $h2-font-size;
}

.date {
  font-size: 1em;
}


h1 {
  font-size: 1.5em !important;
}

.center-y{
  text-align: center;
}


h1 strong{
  color: #2f1455;
  font-family: monospace;
}

.reveal a{
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 0.04em;
}

.reveal .footer{
  color: #011627;
}